html {
    font-size: 188%;
    
}

html, body { /* makes body cover the whole page */
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
}


.bg{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    position: absolute;

    
}

.mainsection, .infos, .scrollingimages{ /*main sections of the page */
    display: flex;
    background-color: rgb(28, 38, 56);
    align-content: center;
    justify-content: center;
    height: 19rem;
    width: 100%;
    gap: 25px;
    

}



.mainsection > :nth-child(1){ /*Main title div */
    display: flex;
    max-height: inherit;
    flex: 1;
    align-items: center;
    justify-content: center;
    

    

}

.mainsection > :nth-child(2){ /*image div*/
    height: inherit;
    align-content: center;
    flex: 1;
    
    
}

.coverimg{
    height: 50%;
    
}

.maintitle{ 
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    aspect-ratio: 16 / 9;
    
    
}

.maintitle > :nth-child(1){
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.maintitle > :nth-child(2){ /* desc */
    font-size: 0.6rem;
    color: rgb(196, 196, 196)
}

.generalbutton{
    background-color: darkcyan;
    color: white;

    font-size: 0.6em;
    font-weight: bold;

    /* fix the height */
    height: 1.5rem;

    /* aspect ratio */
    aspect-ratio: 16 / 5;

    /* flex item controls */
    flex-shrink: 0;
    flex-grow: 0;

    /* display block/inline-block */
    display: inline-block;

    border-radius: 10px;
    border: none;
    

}

.infos {
    background-color: white;
    flex-direction: column;
    
    
    
}

.infos > :nth-child(1){ /*title */
    flex: 0.2;
    text-align: center;
    
}



.infocards{ /*container of infocards */
    display: flex;
    flex: 0.8;
    justify-content: center;
    max-height: 80%;
    gap: 5%;
    
}
.infocard {
    aspect-ratio: 1 / 2;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    
}

.infoimg{
    aspect-ratio: 1 / 1;
    flex:0.5;
    height: 50%;
    border: 5px solid rgb(0, 132, 255);
    border-radius: 15px;
    overflow: hidden;
    
    
}

.infoimg > :first-child{
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    
    
}

.caption{ /* of the infocards */
    flex:0.5;
    text-align: center;
    font-weight: bold;
}


.scrollingimages{ /* the section */
    background-color: rgb(214, 214, 214);
    align-items: center;
    justify-content: center;
}

.scrollcontainer{ /* contains the scrollimgs, is inside scrollingimges */
    display: flex;
    gap: 7vw;
    animation: horizontalImgScroll 20s linear infinite alternate;


}

.scrollimg{
    aspect-ratio: 4 / 5;
    width: 17vw;
    min-width: 200px;
    background-color: brown;
    border: 5px solid black;
    border-radius: 7px;
    overflow: hidden;

}

.scrollimg > *{
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

@keyframes horizontalImgScroll {
    0% {transform: translateX(-25%); }
    100% {transform: translateX(25%);}
}