html {
    
    
}

html, body { /* makes body cover the whole page */
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


.bg{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    position: absolute;

    
}

.mainsection, .infos, .scrollingimages, .callForAction{ /*main sections of the page */
    display: flex;
    background-color: rgb(28, 38, 56);
    align-content: center;
    justify-content: center;
    height: 65vh;
    min-height: 28rem;
    width: 100%;
    gap: 25px;
    overflow-x: auto; /* allows horizontal scrolling */
    
    

}



.mainsection > :nth-child(1){ /*Main title div */
    display: flex;
    max-height: inherit;
    flex: 1;
    align-items: center;
    justify-content: center;
    

    

}

.mainsection > :nth-child(2){ /*image div*/
    align-content: center;
    flex: 1;
    
    
}

.coverimg{
    height: 50%;
    
}

.maintitle{ 
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    aspect-ratio: 16 / 9;
    
    
}

.maintitle > :nth-child(1){
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.maintitle > :nth-child(2){ /* desc */
    font-size: 1.1rem;
    color: rgb(196, 196, 196)
}


.generalbutton{ /* button tempplate */
    position: relative; /* allows ::before to be position relative to button */
    overflow: hidden;
    ;
    background-color: darkcyan;
    color: white;

    font-size: 1rem;
    font-weight: bold;

    /* fix the height */
    height: 3rem;

    /* aspect ratio */
    aspect-ratio: 16 / 5;

    /* flex item controls */
    flex-shrink: 0;
    flex-grow: 0;

    /* display block/inline-block */
    display: inline-block;

    border-radius: 10px;
    border: none;
    
    transition: all 0.5s ease-in-out; /* smooth transition for hover effect */
    
   
}

.generalbutton::before {
    content: "";
    position: absolute;
    background: linear-gradient(
    0deg, 
    transparent, 
    transparent 10%, 
    rgba(0,255,255,0.5)
  );
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;

    /* positions top left (but outside) */
    top: 0;
    left: -100%;

    rotate: 45deg;
    transition: all 0.5s ease-in-out; /* smooth transition for hover effect */
    

}

.generalbutton:hover::before{
    left: 100%; /* moves the background to the right on hover */
}

.generalbutton:hover {
    color: rgb(0, 0, 0); /* changes text color on hover */
    background-color: rgb(255, 255, 255); /* changes background color on hover */
    box-shadow: 0 0px 5px rgb(255, 255, 255);
}

.infos {
    background-color: white;
    flex-direction: column;
    font-size: 2rem;
    overflow: visible; /* allows the infocards to overflow (content inside is slightly taller) */
    
}

.infos > :nth-child(1){ /*title */
    flex: 0.2;
    text-align: center;
    
}



.infocards{ /*container of infocards */
    display: flex;
    flex: 0.8;
    justify-content: center;
    max-height: 80%;
    gap: 5%;
    
    
}
.infocard {
    aspect-ratio: 1 / 2;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    
}

.infoimg{
    aspect-ratio: 1 / 1;
    flex:0.5;
    height: 50%;
    border: 5px solid rgb(0, 132, 255);
    border-radius: 15px;
    overflow: hidden;
    
    
}

.infoimg > :first-child{
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    
    
}

.caption{ /* of the infocards */
    flex:0.5;
    text-align: center;
    font-weight: bold;
}


.scrollingimages{ /* the section */
    background-color: rgb(214, 214, 214);
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* hides the scrollbar */
    white-space: nowrap;
}

.scrollcontainer{ /* contains the scrollimgs, is inside scrollingimges */
    display: flex;
    gap: 7vw;
    animation: horizontalImgScroll 20s linear infinite alternate;


}

.scrollimg{
    aspect-ratio: 4 / 5;
    width: 17vw;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 7px;
    overflow: hidden;

}

.scrollimg > *{
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

@keyframes horizontalImgScroll {
    0% {transform: translateX(-25%); }
    100% {transform: translateX(25%);}
}

.callForAction {
    background-color: white;
    align-items: center;
    height: 28rem;
}

.signupwrapper { /* bottom sign up box */
    display: flex;
    height: 40%;
    width: 75%;
    background-color: rgb(48, 130, 185);
    border-radius: 10px;
    
    

}

.signupwrapper > :nth-child(1) {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    
}

.signupwrapper > :nth-child(2) {
    align-content: center;
    
}

.signupwrapper button {
    border: 2px solid white;
    background-color: transparent;
    height: 35%;
    font-size: 1.3rem;

}
.signupwrapper h3 {
    font-size: 2.2rem;
}

.signupwrapper p {
    font-size: 1.2rem;
}

.signupwrapper h3,
.signupwrapper p {
    margin: 0;
}

.footer {
    background-color: rgb(28, 38, 56);
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.header {
    background-color: rgb(28, 38, 56);
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.headerimage {
    aspect-ratio: 1 / 1;
    height: 100%;
    margin: 1%;
}

.headerimage img{
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

.headertext a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

.navbar {
    display: flex;
    margin-left: auto;
    margin-right: 20%;
}

.navlist {
    display: flex;
    gap: 2rem;
    
}

.navlist li {
    list-style: none;
    
}

.navlist a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


@media (max-width: 960px) {
    .headertext{
        width: 0%;
        display: none;
    }
}
    